numpy>=1.26
pandas>=2.2
torch>=2.2
transformers>=4.50
sentence-transformers>=3.0
datasets>=3.0
scikit-learn>=1.5
faiss-cpu>=1.8
wandb>=0.18
matplotlib>=3.9
seaborn>=0.13
tqdm>=4.66
jsonlines
chonkie
kagglehub